body {
  background-color: #ffe6e6 !important;
}

h1 {
  color: #b30000 !important;
  text-transform: uppercase;
}

button {
  background-color: #ffd700 !important;
  color: #000 !important;
  border: 2px solid #b30000 !important;
}